/bin/
.env
*.log
.properties
node_modules/
.vscode/
.sonarlint/
.project
docker-compose.yml
package-lock.json
package.json
airports.json
sonar-project.properties
.idea/
.github/
.scannerwork/
project.toml
*.iml
.DS_Store
dist/
build/
target/
*.jar
*.war
*.ear
