body,html {
    overflow: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0;
    margin-left: 50px;

    .column {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .main-text {
            font-size: 20px;
            font-weight: bold;
        }
    }

    .row {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

}

.place-header {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}