<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/routes.css">  
    <link rel="stylesheet" type="text/css" href="/style/map.css">  
    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
    ({key: "AIzaSyCKmFHtLzbE2Q6tHjZi2h31tBgkNfSoD8U", v: "weekly"});
    </script>
    <title>Itinerary</title>
</head>
<body>

    <div class="confirmation-dialog" id="confirmation-dialog">
        <div class="confirmation-content">
            <p>Are you sure you want to remove this waypoint?</p>
            <div class="confirmation-buttons">
                <button id="confirm-yes-btn">Yes</button>
                <button id="confirm-no-btn">No</button>
            </div>
        </div>

    </div>

    <h1 style="font-size: 3.5rem ;">Itinerary</h1>

    <div th:if="${waypoints == null or #lists.isEmpty(waypoints)}">
        <p>No waypoints found.</p>
    </div>

    <div th:if="${waypoints != null and !#lists.isEmpty(waypoints)}">
        <div th:each="waypoint : ${waypoints}" class="waypoint-item">
            <form class="waypoint-form">
                <input type="hidden" name="name" th:value="${waypoint.name}">
                <input type="hidden" name="address" th:value="${waypoint.address}">
                <input type="hidden" name="latitude" th:value="${waypoint.location != null ? waypoint.location.latitude : ''}">
                <input type="hidden" name="longitude" th:value="${waypoint.location != null ? waypoint.location.longitude : ''}">
            </form>

            <h2 th:text="${waypoint.name}">Waypoint</h2>
            <p>Lat: <span th:text="${waypoint.location != null ? waypoint.location.latitude : 'N/A'}"></span></p>
            <p>Lng: <span th:text="${waypoint.location != null ? waypoint.location.longitude : 'N/A'}"></span></p>
            <p>Address: <span th:text="${waypoint.address}"></span></p>

            <form th:action="@{/routes/waypoint/remove/{id}(id=${waypoint.id})}" 
            method="post" 
            style="display:inline-block; margin-top:8px;"
            class="remove-waypoint-form" id="remove-waypoint-form">
            <button type="submit" class="remove-btn">Remove</button>
            </form>
        </div>
    </div>

    <h2 style="font-size: 1.5rem;">Create Route</h2>

    <gmp-map id="map">
        <div class="place-autocomplete-card" slot="control-inline-start-block-start">
            <form action="" id="route-form">
                <div class="row">
                    <div class="col">
                        <p>Route origin:</p>
                        <gmp-place-autocomplete id="map-autocomplete"></gmp-place-autocomplete>
                    </div>
                    <div class="col">
                        <p>Destination:</p>
                        <select id="destination-select" name="destination" required>
                            <option th:each="w : ${waypoints}"
                                    th:value="${w.location.latitude + ',' + w.location.longitude}"
                                    th:text="${w.name}",>
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <select id="travel-mode-select" name="travelMode" required>
                        <option value="DRIVING">Driving</option>
                        <option value="WALKING">Walking</option>
                        <option value="BICYCLING">Bicycling</option>
                        <option value="TRANSIT">Transit</option>
                    </select>
                    <input type="time" id="departure-time" name="departureTime" placeholder="Departure Time" required>
                </div>
                <button id="compute-route-btn" type="submit">Compute Route</button>
                <input type="hidden" id="intermediates-input" name="intermediates" />
            </form>
        </div>
    </gmp-map>

     <div style="display: flex; justify-content: center;">
        <button onclick="window.history.back();" class="back-btn">Back</button>
     </div>


    <script type="module"
            src="https://unpkg.com/@googlemaps/extended-component-library@0.6.0/dist/index.min.js">
    </script>

    <script th:src="@{/scripts/routes_manager.js}" defer></script>
    <script th:src="@{/scripts/waypoints_manager.js}" defer></script>

</body>
</html>
