<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/user_auth.js"></script>
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/style/navbar.css" />
    <title>Profile</title>
</head>
<body>

    <nav class="navbar">
        <div class="nav-inner">
            <div class="col">
                <div class="row">
                    <div class="nav-brand">
                        <h1 class="site-title">Travel Planner</h1>
                        <p class="site-tagline">Plan your visit quickly and easily</p>
                    </div>

                    <ul class="nav-links">
                        
                        <li><a th:href="@{/}">Home</a></li>

                        <li>
                            <a id="user-auth"> Login </a>
                        </li>
                        
                    </ul>
                </div>

                <div class="row">
                    <ul class="nav-links">
                        <li th:if="${destination != null && countryCode != null}">
                            <form id="itinerary-form"
                                th:action="@{/user/itineraries}"
                                method="post">
                                <input type="hidden" name="destination" th:value="${destination}">
                                <input type="hidden" name="country" th:value="${countryCode}">
                                <button type="submit"
                                        id="view-itinerary-btn" class="btn btn-primary"
                                        th:text="|Saved Waypoint for ${destination}|">
                                    Saved Waypoints
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <h1 th:text="'Hello ' + ${user.username}"> User not found</h1>
    <div>
        <p th:text="'Email: ' + ${user.email}">Email not found</p>
    </div>

    <form method="post" action="/user/login">
        <input type="hidden" name="destination" th:value="${destination}">
        <input type="hidden" name="countryCode" th:value="${countryCode}">
    </form>

    <button><a th:href="@{/user/logout}">Sign out</a></button>

    <button th:if="${destination != null && countryCode != null}"><a th:href="@{/user/itineraries}">Places</a></button>

    <div th:if="${itineraries != null and !#lists.isEmpty(itineraries)}">
        <ul th:each="itinerary : ${itineraries}">
            <h2 th:text="|Itineraries in ${itinerary.city}, ${itinerary.country}">Itineraries</h2>
            <li>
                <strong th:text="${itinerary.routeIdentifier}">Itinerary Name</strong>
                <ul>
                    <li>Origin: <span th:text="${itinerary.origin}">Origin</span></li>
                    <li>Destination: <span th:text="${itinerary.destination}">Destination</span></li>
                    <li>Travel mode: <span th:text="${itinerary.travelMode}">Travel mode</span></li>
                    <li th:if="${itinerary.intermediates != null and !#lists.isEmpty(itinerary.intermediates)}">
                        Intermediates:
                        <ul>
                            <li th:each="stop : ${itinerary.intermediates}" th:text="${stop}">stop</li>
                        </ul>
                    </li>
                </ul>
                <a th:href="@{|/user/itinerary/${itinerary.routeIdentifier}|}">View itinerary</a>
            </li>
        </ul>
    </div>
</body>

</html>