<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/./style/style.css"/>
    <link rel="stylesheet" href="/./style/places.css"/>
    <title>Travel Planner</title>
</head>
<body>

<h1 th:text="|Here's what you can see in ${request.destination}, ${request.countryCode}|" class="place-header">
    Places to visit
</h1>

<div th:if="${places == null or #lists.isEmpty(places)}">
    <p>No places found.</p>
</div>

<div th:if="${places != null and !#lists.isEmpty(places)}" th:each="place : ${places}" class="container">
    <div class="row">
        <div class="column">
            <h2 th:text="${place.name}">Place Name</h2>
            <div class="row">
                <img th:if="${place.photoUrl != null}" th:src="${place.photoUrl}" alt="Placeholder"/>
                <div class="column">
                    <p><span class="main-text">Address:</span> <span th:text="${place.address}">Place Address</span></p>
                    <p><span class="main-text">Type:</span> <span th:text="${place.type}">Place Type</span></p>
                    <p th:if="${place.priceRange != null}">
                        <span class="main-text">Price Range:</span>
                        <span th:text="${place.priceRange}">Price Range</span>
                    </p>
                    <p th:unless="${place.priceRange != null}">Free visit!</p>
                    <p><span class="main-text">Rating:</span> <span th:text="${place.rating}">Place Rating</span></p>
                    <p th:if="${place.websiteUri != null}">
                    Website: <a th:href="${place.websiteUri}" th:text="${place.websiteUri}">Website Link</a>
                    </p>
                    <a th:href="@{|/placeDetails/${place.name}|}" class="details-link">See Details</a>
                </div>

            </div>
        </div>
    </div>
</div>

    <footer class="site-footer">
        <p class="muted">SDS2 • Erasmus Tourist Assistant</p>
    </footer>
    
</body>

</html>