/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
gmp-map {
    height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0px;
}

.place-autocomplete-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
    padding: 5px;
    font-family: Roboto, sans-serif;
    font-size: large;
    font-weight: bold;

    .row {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .col {
        display: flex;
        flex-direction: column;

        p {
            margin: 0 0 0 1px;
            padding: 0 0 5px 0;
        }
    }
}

#route-form {
    display: inline-grid;
    gap: inherit;
}

#destination-select {
    height: -webkit-fill-available;
}

#travel-mode-select {
    width: -webkit-fill-available;
}

gmp-place-autocomplete {
    width: 300px;
}

#infowindow-content .title {
    font-weight: bold;
}

#map #infowindow-content {
    display: inline;
}