.navbar {

    .container {
        width: max-content;
    }

    .logo {
        font-size: 24px;
        font-weight: bold;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
    }


    ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 16px 16px;
    background-color: #333333;
    display: flex;
    align-items: center;
  }

  ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul li a:hover {
    background-color: #111111;
  }
}