services:
  db:
    image: postgres:18
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: ${POSTGRE_PSW}
      POSTGRES_DB: TravelPlannerDB
    ports:
      - "5432:5432"
    volumes:
      - ./dbdata:/var/lib/postgresql/data
