body,html {
    overflow: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0;
    margin-left: 50px;

    .column {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .main-text {
            font-size: 20px;
            font-weight: bold;
        }
    }

    .row {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .link {
        display: inline-block;
        width: fit-content;
        margin-top: 10px;
        font-size: 16px;
        color: #007BFF;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: border-color 0.3s ease-in-out;
    }

    .link:hover {
        border-bottom-color: #007BFF;
    }

    .details {
        font-size: 1.5em;
    }

    img {
        width: 350px;
    }

}

.place-header {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.place-description-header {
    margin-left: 50px;

    h2 {
        font-size: 3em;
        margin-bottom: 10px;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;

    a {
        color: white;
        font-size: large;
        text-decoration: underline;
        cursor: pointer;
    }
}