name: CI - Test & Coverage

on:
  release:
    types: [created]
  push:
    branches:
      - main
      - develop
      - develop/*
      - feature/*
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 23
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 23
          cache: maven

      - name: Build, test and check coverage
        run: mvn clean verify
